body {
    /* background: rgb(99, 39, 120) */
    background-color: #bdf2fc;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

#adBtn
{
    background-color: #0d6efd;
    border-radius: 5px;
    border: none;
    
}
.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 14px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ctr{
    justify-content: center;
    margin: 2rem;
}

.imgBtn
{
    background-color: #92B4EC;
}
